{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get CashFake TotalBelow</h1>
    <code>GET /api/user/{userId}/cash_fake/total_below</code>
</div>

<p class="lead">回傳下層快開額度餘額總和</p>
<p>相差層數<code>depth</code>輸入查詢的帳號與上層相差的層數</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                    <span class="input-group-addon">/cash_fake/total_below</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">depth</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="depth" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">相差層數。預設不限</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">enable</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="enable" type="text" class="form-control" value="1" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">停用:0, 啟用:1</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">block</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="block" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">解凍:0, 凍結:1</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_cashFake_get_total_below" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
