{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>CashFake Transaction Rollback</h1>
    <code>PUT /api/cash_fake/transaction/{id}/rollback</code>
</div>

<p class="lead">取消快開額度交易</p>
<p>相關錯誤訊息如下：</p>
<div class="row">
    {% include 'BBDurianBundle:Default/Doc:cashfake_transaction_exception_map.html.twig' %}
</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">/api/cash_fake/transaction/</span>
                    <input data-request-param="id" type="text" class="form-control" placeholder="{id}">
                    <span class="input-group-addon">/rollback</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{id}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_cashFake_transaction_rollback" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
