{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Outside Transaction</h1>
    <code>GET /api/outside/transaction/{id}</code>
</div>

<p class="lead">回傳外接額度交易機制紀錄</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/outside/transaction/</span>
                    <input data-request-param="id" type="text" class="form-control" placeholder="{id}">
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{id}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_outside_get_trans" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
