{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Transcribe Inquiry</h1>
    <code>GET /api/transcribe/inquiry</code>
</div>

<p class="lead">對帳查詢</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-3">domain</label>
            <div class="col-md-5">
                <input name="domain" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">廳</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">currency</label>
            <div class="col-md-5">
                <input name="currency" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">幣別</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">enable</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="enable" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">0:停用 1:啟用 預設:不限</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">bank_id</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="bank_id" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">銀行Id</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">remit_account_id</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="remit_account_id" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">入款帳號id</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">booked_at_start</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="booked_at_start" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">搜尋帳目時間,起。ISO8601格式</span>
            <label class="control-label col-md-3">booked_at_end</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="booked_at_end" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">搜尋帳目時間,迄。ISO8601格式</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">username</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="username" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">會員帳號</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">confirm_at_start</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="confirm_at_start" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">審核時間,起。ISO8601格式</span>
            <label class="control-label col-md-3">confirm_at_end</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="confirm_at_end" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">審核時間,迄。ISO8601格式</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">method</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="method" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">入款方式</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">amount_min</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="amount_min" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">搜尋金額的下限</span>
            <label class="control-label col-md-3">amount_max</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="amount_max" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">搜尋金額的上限</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">name_real</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="name_real" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">真實姓名</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">first_result</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="first_result" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">分頁從第幾筆開始</span>
            <label class="control-label col-md-3">max_results</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="max_results" type="text" class="form-control" value="20" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">分頁顯示筆數</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">sub_total</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="sub_total" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否回傳小計。預設0</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">total_amount</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="total_amount" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否回傳總計。預設0</span>
        </div>
        <div class="form-group">
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="template">
                <label class="control-label col-md-3">sort[]</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="action-enable" type="checkbox">
                        </span>
                        <input name="sort[]" type="text" class="form-control" value="id" disabled>
                    </div>
                </div>
                <span class="help-block col-md-4">排序欄位</span>
                <label class="control-label col-md-3">order[]</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="action-enable" type="checkbox">
                        </span>
                        <input name="order[]" type="text" class="form-control" value="asc" disabled>
                    </div>
                </div>
                <span class="help-block col-md-4">升冪或降冪。可設定asc或desc</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <button data-request-routing="api_get_transcribe_inquiry" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
