{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Edit BitcoinWallet</h1>
    <code>PUT /api/bitcoin_wallet/{bitcoinWalletId}</code>
</div>

<p class="lead">修改比特幣錢包資料</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/bitcoin_wallet/</span>
                    <input data-request-param="bitcoinWalletId" type="text" class="form-control" placeholder="{bitcoinWalletId}">
                </div>
            </div>
            <button id="load-btn" data-request-routing="api_get_bitcoin_wallet" class="btn btn-default" type="button">Load</button>
            <p class="help-block col-md-offset-2 col-md-10">網址變數{bitcoinWalletId}輸入比特幣錢包id</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">wallet_code</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="wallet_code" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-3">比特幣錢包登入代碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">password</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="password" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-3">比特幣錢包密碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">second_password</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="second_password" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-3">比特幣錢包出款密碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">api_code</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="api_code" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-3">api密碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">xpub</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="xpub" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-3">比特幣出款公鑰</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">fee_per_byte</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="fee_per_byte" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-3">比特幣出款手續費率</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_edit_bitcoin_wallet" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
