{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get All Currency Register Bonus</h1>
    <code>GET /api/currency/register_bonus</code>
</div>

<p class="lead">取得所有註冊優惠幣別限額</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_get_all_currency_register_bonus" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}