<div class="col-md-6">
    <table class="table table-striped table-condensed">
        使用者聊天室權限預設值如下：
        <tbody>
            <tr>
                <td>非測試帳號</td><td>readable = true, writable = true, 可讀可寫</td>
            </tr>
            <tr>
                <td>測試帳號</td><td>readable = true, writable = false, 可讀不可寫</td>
            </tr>
        </tbody>
    </table>
</div>
