<div class="col-md-7">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>#</th><th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>150060001</td><td>信用額度不存在</td>
            </tr>
            <tr>
                <td>150060007</td><td>金額超過最大金額限制</td>
            </tr>
            <tr>
                <td>150060008</td><td>時間區間內金額加總為負數</td>
            </tr>
            <tr>
                <td>150060012</td><td>信用額度已停用</td>
            </tr>
            <tr>
                <td>150060013</td><td>信用額度超過最大金額限制</td>
            </tr>
            <tr>
                <td>150060014</td><td>總信用額度超過最大金額限制</td>
            </tr>
            <tr>
                <td>150060018</td><td>信用額度回收中，請稍後再試</td>
            </tr>
            <tr>
                <td>150060021</td><td>信用額度轉移中，請稍後再試</td>
            </tr>
            <tr>
                <td>150060022</td><td>不合法的操作：該信用額度區間資料已過期</td>
            </tr>
            <tr>
                <td>150060028</td><td>無此匯率</td>
            </tr>
            <tr>
                <td>150060029</td><td>opcode格式不合法</td>
            </tr>
            <tr>
                <td>150060030</td><td>必須傳入時間戳記</td>
            </tr>
            <tr>
                <td>150060031</td><td>ref_id格式不合法</td>
            </tr>
            <tr>
                <td>150060032</td><td>未指定opcode</td>
            </tr>
            <tr>
                <td>150060033</td><td>未指定金額</td>
            </tr>
            <tr>
                <td>150060034</td><td>餘額不足</td>
            </tr>
            <tr>
                <td>150060036</td><td>金額不可為零</td>
            </tr>
            <tr>
                <td>150060038</td><td>使用者不存在</td>
            </tr>
            <tr>
                <td>150610002</td><td>字串必須使用utf-8編碼</td>
            </tr>
            <tr>
                <td>150610003</td><td>金額小數位數超過限制位數</td>
            </tr>
        </tbody>
    </table>
</div>
