<div class="col-md-5">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>#</th><th>Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td><td>Durian</td>
            </tr>
            <tr>
                <td>4</td><td>體育投注 (沙巴)</td>
            </tr>
            <tr>
                <td>19</td><td>AG視訊</td>
            </tr>
            <tr>
                <td>20</td><td>PT電子遊藝</td>
            </tr>
            <tr>
                <td>22</td><td>歐博視訊</td>
            </tr>
            <tr>
                <td>23</td><td>MG電子</td>
            </tr>
            <tr>
                <td>24</td><td>東方視訊</td>
            </tr>
            <tr>
                <td>27</td><td>GD視訊</td>
            </tr>
            <tr>
                <td>28</td><td>Gns機率</td>
            </tr>
            <tr>
                <td>29</td><td>ISB機率</td>
            </tr>
            <tr>
                <td>32</td><td>HB電子</td>
            </tr>
            <tr>
                <td>36</td><td>BG視訊</td>
            </tr>
            <tr>
                <td>37</td><td>PP電子</td>
            </tr>
            <tr>
                <td>39</td><td>JDB電子</td>
            </tr>
            <tr>
                <td>40</td><td>AG電子</td>
            </tr>
            <tr>
                <td>41</td><td>MW電子</td>
            </tr>
            <tr>
                <td>42</td><td>RT電子</td>
            </tr>
            <tr>
                <td>44</td><td>SG電子</td>
            </tr>
            <tr>
                <td>45</td><td>VR彩票</td>
            </tr>
            <tr>
                <td>46</td><td>PTⅡ電子</td>
            </tr>
            <tr>
                <td>47</td><td>EVO視訊</td>
            </tr>
            <tr>
                <td>48</td><td>BNG電子</td>
            </tr>
            <tr>
                <td>49</td><td>開元 棋牌</td>
            </tr>
            <tr>
                <td>50</td><td>WM電子</td>
            </tr>
        </tbody>
    </table>
</div>
