<div class="col-md-3">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>#</th><th>Ingress</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td><td>網頁版</td>
            </tr>
            <tr>
                <td>2</td><td>手機網頁版</td>
            </tr>
            <tr>
                <td>3</td><td>api 站</td>
            </tr>
            <tr>
                <td>4</td><td>mobile app</td>
            </tr>
            <tr>
                <td>5</td><td>下載版</td>
            </tr>
            <tr>
                <td>6</td><td>BB瀏覽器</td>
            </tr>
            <tr>
                <td>7</td><td>寰宇瀏覽器</td>
            </tr>
        </tbody>
    </table>
</div>
