<div class="col-md-3">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>#</th><th>Langeage</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td><td>en 英文</td>
        </tr>
        <tr>
            <td>2</td><td>zh-tw 繁中</td>
        </tr>
        <tr>
            <td>3</td><td>zh-cn 簡中</td>
        </tr>
        <tr>
            <td>4</td><td>th 泰文</td>
        </tr>
        <tr>
            <td>5</td><td>ja 日文</td>
        </tr>
        <tr>
            <td>6</td><td>ko 韓文</td>
        </tr>
        <tr>
            <td>7</td><td>vi 越南文</td>
        </tr>
        <tr>
            <td>8</td><td>id 印尼</td>
        </tr>
        <tr>
            <td>9</td><td>ug 維吾爾</td>
        </tr>
        <tr>
            <td>10</td><td>es 西班牙</td>
        </tr>
        <tr>
            <td>11</td><td>lo 寮國</td>
        </tr>
        <tr>
            <td>12</td><td>km 柬埔寨</td>
        </tr>
        <tr>
            <td>13</td><td>other</td>
        </tr>
        </tbody>
    </table>
</div>
