<div class="col-md-5">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>#</th><th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td><td>登入成功</td>
            </tr>
            <tr>
                <td>2</td><td>個人資料錯誤</td>
            </tr>
            <tr>
                <td>3</td><td>密碼錯誤</td>
            </tr>
            <tr>
                <td>4</td><td>帳號已停用</td>
            </tr>
            <tr>
                <td>5</td><td>帳號已凍結</td>
            </tr>
            <tr>
                <td>6</td><td>帳號已刪除</td>
            </tr>
            <tr>
                <td>7</td><td>帳號錯誤</td>
            </tr>
            <tr>
                <td>8</td><td>驗證碼錯誤</td>
            </tr>
            <tr>
                <td>9</td><td>密碼錯誤並凍結此帳號</td>
            </tr>
            <tr>
                <td>10</td><td>使用者帳號已與oauth帳號綁定</td>
            </tr>
            <tr>
                <td>12</td><td>登入密碼停用，無法以密碼登入</td>
            </tr>
            <tr>
                <td>13</td><td>登入IP已被黑名單阻擋，無法登入</td>
            </tr>
            <tr>
                <td>14</td><td>時間內重複登入，無法登入</td>
            </tr>
            <tr>
                <td>15</td><td>登入為不同體系，無法登入</td>
            </tr>
            <tr>
                <td>16</td><td>層級錯誤</td>
            </tr>
            <tr>
                <td>18</td><td>裝置未綁定此帳號，不支援手勢登入</td>
            </tr>
            <tr>
                <td>19</td><td>裝置已停用手勢登入功能</td>
            </tr>
            <tr>
                <td>20</td><td>手勢密碼錯誤</td>
            </tr>
            <tr>
                <td>21</td><td>手勢密碼錯誤三次，凍結此手勢登入綁定</td>
            </tr>
            <tr>
                <td>22</td><td>手勢密碼已凍結</td>
            </tr>
            <tr>
                <td>23</td><td>廳主OTP錯誤</td>
            </tr>
            <tr>
                <td>24</td><td>裝置未驗證，無法以手勢密碼登入</td>
            </tr>
            <tr>
                <td>25</td><td>驗證碼錯誤並凍結此帳號(GM管理系統)</td>
            </tr>
            <tr>
                <td>26</td><td>登入IP已被IP封鎖列表阻擋，無法登入</td>
            </tr>
        </tbody>
    </table>
</div>
