{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get All Currency</h1>
    <code>GET /api/currency</code>
</div>

<p class="lead">回傳目前系統支援的所有幣別</p>
<p><code>is_virtual</code>帶0回傳真實幣，帶1回傳虛擬幣。預設全部回傳</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-3">is_virtual</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="is_virtual" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否虛擬幣。預設不限制</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_currency" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
