{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Exchange By Currency</h1>
    <code>GET /api/currency/{currency}/exchange</code>
</div>

<p class="lead">根據時間點回傳匯率</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/currency/</span>
                    <input data-request-param="currency" type="text" class="form-control" placeholder="{currency}">
                    <span class="input-group-addon">/exchange</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">填入網址變數{currency}。例：CNY</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">active_at</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="active_at" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">時間點。預設現在。ISO-8601格式</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_exchange_get_by_currency" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
