{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Bitcoin Deposit Entry</h1>
    <code>GET /api/bitcoin_deposit/entry/{entryId}</code>
</div>

<p class="lead">取得一筆入款記錄</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/bitcoin_deposit/entry/</span>
                    <input data-request-param="entryId" type="text" class="form-control" placeholder="{entryId}">
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{id}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <button data-request-routing="api_get_bitcoin_deposit_entry" data-request-type="GET" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
