{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Set Password</h1>
    <code>PUT /api/user/{userId}/password</code>
</div>
<p class="lead">修改密碼</p>
<div class="row">
    <div class="col-md-7">
        <p><code>verify</code> 是否驗證舊密碼，預設為1</p>
        <p><code>old_password</code> 除非verify = 0，否則須帶舊密碼</p>
        <p><code>password_reset</code> 如果要強制重設密碼，則帶 1；不強制重設密碼可帶0，或是不帶</p>
    </div>
    {% include 'BBDurianBundle:Default/Doc:sensitive_data.html.twig' %}
</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                    <span class="input-group-addon">/password</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">new_password</label>
            <div class="col-md-5">
                <input name="new_password" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">新密碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">confirm_password</label>
            <div class="col-md-5">
                <input name="confirm_password" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">確認密碼</span>
        </div>
              <div class="form-group">
            <label class="control-label col-md-3">password_expire_at</label>
            <div class="col-md-5">
                <input name="password_expire_at" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}">
            </div>
            <span class="help-block col-md-4">密碼有效時間，過期需要更換密碼。請使用ISO-8601格式輸入</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">verify</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="verify" type="text" class="form-control" value="1" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否驗證舊密碼，預設為1</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">old_password</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="old_password" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">舊密碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">password_reset</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="password_reset" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否強制重設密碼，預設值為0</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_auth_set_password" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
