{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Credit</h1>
    <code>GET /api/credit/{creditId}</code>
</div>

<p class="lead">回傳信用額度資訊</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/credit/</span>
                    <input data-request-param="creditId" type="text" class="form-control" placeholder="{creditId}">
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{creditId}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">at</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="at" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">日期。ISO8601格式(不指定預設現在時間)</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_credit_get" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
