{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get User Credit Total Disable</h1>
    <code>GET /api/user/{userId}/credit/{groupNum}/get_total_disable</code>
</div>

<div class="row">
    <div class="col-md-7">
    <p class="lead">回傳使用者下層停用帳號的信用額度總和</p>
    </div>
    {% include 'BBDurianBundle:Default/Doc:credit_group.html.twig' %}
</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                    <span class="input-group-addon">/credit/</span>
                    <input data-request-param="groupNum" type="text" class="form-control" placeholder="{groupNum}">
                    <span class="input-group-addon">/get_total_disable</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}, {groupNum}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_get_total_disable" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
