{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Set Merchant Withdraw Level By Level</h1>
    <code>PUT /api/level/{levelId}/merchant/withdraw/level</code>
</div>

<p class="lead">設定層級內可用出款商家</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon">/api/level/</span>
                    <input data-request-param="levelId" type="text" class="form-control" placeholder="{levelId}">
                    <span class="input-group-addon">/merchant/withdraw/level</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{levelId}</p>
        </div>
        <div>
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="form-group template">
                <label class="control-label col-md-3">merchant_withdraws[]</label>
                <div class="col-md-5">
                    <input name="merchant_withdraws[]" type="text" class="form-control">
                </div>
                <span class="help-block col-md-4">出款商家ID</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_set_merchant_withdraw_level_by_level" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
