{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Cancel Reward</h1>
    <code>PUT /api/reward/{rewardId}/cancel</code>
</div>

<p class="lead">取消紅包活動</p>
<div class="row">
    <div class="col-md-7">
        <p><code>活動開始後不能取消活動</code></p>
    </div>
</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/reward/</span>
                    <input data-request-param="rewardId" type="text" class="form-control" placeholder="{rewardId}">
                    <span class="input-group-addon">/cancel</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{rewardId}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_cancel_reward" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
