{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Order Number</h1>
    <code>GET /api/remit/entry/order_number</code>
</div>

<p class="lead">取得訂單號</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <button data-request-routing="api_remit_entry_get_order_number" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
