{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Remit Level Order</h1>
    <code>GET /api/remit/domain/{domain}/remit_level_order</code>
</div>

<p class="lead">取得該廳「依照使用次數分配銀行卡」的設定</p>
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="input-group col-md-6">
                    <span class="input-group-addon">/api/remit/domain/</span>
                    <input data-request-param="domain" type="text" class="form-control" placeholder="{domain}">
                    <span class="input-group-addon">/remit_level_order</span>
                </div>
                <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{domain}</p>
            </div>
            <div class="form-group">
                <button class="btn btn-default action-more" type="button">複製參數</button>
                <div class="template">
                    <label class="control-label col-md-3">level_ids[]</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input class="action-enable" type="checkbox">
                            </span>
                            <input name="level_ids[]" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <span class="help-block col-md-4">層級ID</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <button data-request-routing="api_remit_get_remit_level_order" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
