{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Total Amount of Deposit Entries</h1>
    <code>GET /api/deposit/total_amount</code>
</div>

<p class="lead">取得入款明細資料總計</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-3">payment_gateway_id</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="payment_gateway_id" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">支付平台id</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">domain</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="domain" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">廳主ID</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">user_id</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="user_id" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">查詢使用者ID</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">currency</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="currency" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">入款幣別</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">payway_currency</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="payway_currency" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">付款種類的幣別</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">payway</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="payway" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">付款種類，系統支援種類請參考payway文件。</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">level_id</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="level_id" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">層級</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">confirm</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="confirm" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否確認入款</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">abandon_offer</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="abandon_offer" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否放棄優惠</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">manual</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="manual" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否人工入款</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">payment_method_id</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="payment_method_id" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">支付方式ID</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">merchant_number</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="merchant_number" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">商號</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">amount_min</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="amount_min" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">入款金額下限</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">amount_max</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                        <input name="amount_max" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">入款金額上限</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">start</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="start" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">搜尋開始時間。ISO-8601格式</span>
            <label class="control-label col-md-3">end</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="end" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">搜尋結束時間。ISO-8601格式</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_get_deposit_entry_total_amount" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
