{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h2>Deposit</h2>
    <code>POST /api/user/{userId}/deposit</code>
</div>

<p class="lead">金流入款</p>
<div class="alert alert-danger">
    注意！入款金額不得超過小數點後4位, 否則會噴150610003錯誤
</div>
<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                    <span class="input-group-addon">/deposit</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">payment_vendor_id</label>
            <div class="col-md-5">
                <input name="payment_vendor_id" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">付款廠商id</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">currency</label>
            <div class="col-md-5">
                <input name="currency" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">幣別</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">payway</label>
            <div class="col-md-5">
                <input name="payway" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">付款種類，1為現金</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">amount</label>
            <div class="col-md-5">
                <input name="amount" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">入款金額，不得超過小數點後4位</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">ip</label>
            <div class="col-md-5">
                <input name="ip" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">使用者IP</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">merchant_id</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="merchant_id" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">商家id，預設為空字串</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">postcode</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="postcode" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">郵遞區號，預設為空字串</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">address</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="address" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">地址，預設為空字串</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">telephone</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="telephone" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">電話，預設為空字串</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">email</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="email" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">email，預設為空字串</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">abandon_offer</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="abandon_offer" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">放棄優惠，預設為0</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">web_shop</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="web_shop" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">來自購物網，預設為0</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">memo</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="memo" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">備註，預設為空字串</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">bundleID</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="bundleID" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">IOS BundleID，預設為空字串</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">applyID</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="applyID" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">Andorid應用包名，預設為空字串</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_user_deposit" data-request-type="POST" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
