{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get BankHolderConfig By Users</h1>
    <code>GET /api/bank/holder_config_by_users</code>
</div>

<p class="lead">取得開放非本人出款銀行設定的會員</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="template">
                <label class="control-label col-md-3">users[]</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="action-enable" type="checkbox">
                        </span>
                        <input name="users[]" type="text" class="form-control" disabled>
                    </div>
                </div>
                <span class="help-block col-md-4">會員編號</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">domain</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="domain" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">廳</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">edit_holder</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="edit_holder" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否可編輯戶名</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">first_result</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="first_result" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">分頁從第幾筆開始</span>
            <label class="control-label col-md-3">max_results</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="max_results" type="text" class="form-control" value="20" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">分頁顯示筆數</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_get_bank_holder_config_by_users" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
