{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>BankInfo Enable</h1>
    <code>PUT /api/bank_info/{bankInfoId}/enable</code>
</div>

<p class="lead">銀行啟用</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/bank_info/</span>
                    <input data-request-param="bankInfoId" type="text" class="form-control" placeholder="{bankInfoId}">
                    <span class="input-group-addon">/enable</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{bankInfoId}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_bank_info_enable" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
