{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Domain Withdraw Bank Currency</h1>
    <code>GET /api/domain/{domain}/withdraw/bank_currency</code>
</div>

<p class="lead">回傳廳設定的出款銀行幣別</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/domain/</span>
                    <input data-request-param="domain" type="text" class="form-control" placeholder="{domain}">
                    <span class="input-group-addon">/withdraw/bank_currency</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">填入網址變數{domain}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_domain_get_withdraw_bank_currency" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
