{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get External Balance</h1>
    <code>GET /api/user/{userId}/external/balance</code>
</div>

<div class="row">
    <div class="col-md-6">
        <p class="lead">回傳外接遊戲使用者額度資料</p>
    </div>
    {% include 'BBDurianBundle:Default/Doc:external_game_map.html.twig' %}
</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                    <span class="input-group-addon">/external/balance</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">game_code</label>
            <div class="col-md-5">
                <input name="game_code" type="text" class="form-control" value="1">
            </div>
            <span class="help-block col-md-4">遊戲平台編號</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">force</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="force" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">強制取得最新額度。預設為0</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_get_external_balance" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
