{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Check Status</h1>
        <code>GET /api/auto_confirm/check_status</code>
    </div>

    <p class="lead">檢查帳號狀態</p>

    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <label class="control-label col-md-3">login_code</label>
                <div class="col-md-5">
                    <input name="login_code" type="text" class="form-control">
                </div>
                <span class="help-block col-md-4">廳主後置碼</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">account</label>
                <div class="col-md-5">
                    <input name="account" type="text" class="form-control">
                </div>
                <span class="help-block col-md-4">銀行帳號</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">get_bank_data</label>
                <div class="col-md-5">
                    <input name="get_bank_data" type="text" class="form-control" value="0">
                </div>
                <span class="help-block col-md-4">取得網銀帳密</span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <button data-request-routing="api_auto_confirm_check_status" data-request-type="GET" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
