{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Lock Password Error</h1>
    <code>PUT /api/remit_account/{account}/lock/password_error</code>
</div>

<p class="lead">鎖定網銀密碼錯誤</p>

    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="input-group col-md-7">
                    <span class="input-group-addon">/api/remit_account/</span>
                    <input data-request-param="account" type="text" class="form-control" placeholder="{account}">
                    <span class="input-group-addon">/lock/password_error</span>
                </div>
                <p class="help-block col-md-offset-2 col-md-10">輸入銀行帳號{account}</p>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">login_code</label>
                <div class="col-md-5">
                    <input name="login_code" type="text" class="form-control">
                </div>
                <span class="help-block col-md-4">廳主後置碼</span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <button data-request-routing="api_remit_account_lock_password_error" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
