{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Payment Method By User</h1>
    <code>GET /api/user/{userId}/payment_method</code>
</div>

<div class="row">
    <div class="col-md-3">
        <p class="lead">回傳使用者可用付款方式</p>
    </div>
    {% include 'BBDurianBundle:Default/Doc:deposit_payway.html.twig' %}
</div>

<div class="alert alert-info"><code>web</code> 與 <code>mobile</code> 若皆未帶入，則預設支援mobile網頁端</div>
<div class="alert alert-info">PC網頁端，請帶入參數 <code>web</code> = 1</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                    <span class="input-group-addon">/payment_method</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">payway</label>
            <div class="col-md-5">
                <input name="payway" type="text" class="form-control" value="1">
            </div>
            <span class="help-block col-md-4">支付種類</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">ip</label>
            <div class="col-md-5">
                <input name="ip" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">使用者IP</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">currency</label>
            <div class="col-md-5">
                <input name="currency" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">幣別</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">web</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="web" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否支援網頁端</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">mobile</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="mobile" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否支援手機端</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_user_get_payment_method" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
