{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Create Bitcoin Address</h1>
    <code>POST /api/user/{userId}/bitcoin_address</code>
</div>

<div class="row">
    <div class="col-md-3">
        <p class="lead">新增比特幣入款位址</p>
    </div>
</div>

<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                    <span class="input-group-addon">/bitcoin_address</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">wallet_id</label>
            <div class="col-md-5">
                <input name="wallet_id" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">對應的廳主比特幣錢包id</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_create_bitcoin_address" data-request-type="POST" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
