{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Check Oauth User Binding</h1>
    <code>GET /api/oauth/is_binding</code>
</div>

<p class="lead">oauth帳號是否已綁定使用者</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-3">vendor_id</label>
            <div class="col-md-5">
                <input name="vendor_id" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">oauth廠商id, 1: 微博, 2: qq, 3: facebook</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">openid</label>
            <div class="col-md-5">
                <input name="openid" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">oauth唯一識別使用者id</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">domain</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="domain" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">指定廳. 若不指定, 則回傳所有廳的使用者綁定資料</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_oauth_is_binding" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
