{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Remove Oauth Binding</h1>
    <code>DELETE /api/user/{userId}/oauth_binding</code>
</div>

<p class="lead">刪除Oauth綁定設定</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                    <span class="input-group-addon">/oauth_binding</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}使用者id</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">vendor_id</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="vendor_id" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">指定oauth廠商id. 若不指定, 則刪除使用者所有綁定資料</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_oauth_remove_binding" data-request-type="DELETE" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
