{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Create Preset PaymentCharge</h1>
    <code>POST /api/domain/{domain}/payment_charge/preset</code>
</div>

<div class="row">
    <div class="col-md-4">
        <p class="lead">新增預設線上支付設定</p>
    </div>
    {% include 'BBDurianBundle:Default/Doc:deposit_payway.html.twig' %}
</div>

<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon">/api/domain/</span>
                    <input data-request-param="domain" type="text" class="form-control" placeholder="{domain}">
                    <span class="input-group-addon">/payment_charge/preset</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{domain}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">payway</label>
            <div class="col-md-5">
                <input name="payway" type="text" class="form-control" value="1">
            </div>
            <span class="help-block col-md-4">支付種類，請參考上面文件填入編號。</span>
        </div>
        <div class="form-group">
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="template">
                <label class="control-label col-md-3">codes[]</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="action-enable" type="checkbox">
                        </span>
                        <input name="codes[]" type="text" class="form-control" disabled>
                    </div>
                </div>
                <span class="help-block col-md-4">代碼</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_create_payment_charge_preset" data-request-type="POST" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
