{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get MerchantCard PaymentVendor</h1>
    <code>GET /api/merchant_card/{merchantCardId}/payment_vendor</code>
</div>

<p class="lead">回傳租卡商家設定的付款廠商</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">/api/merchant_card/</span>
                    <input data-request-param="merchantCardId" type="text" class="form-control" placeholder="{merchantCardId}">
                    <span class="input-group-addon">/payment_vendor</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{merchantCardId}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_merchant_card_get_payment_vendor" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
