{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Card Deposit MerchantCard</h1>
    <code>GET /api/user/{userId}/card/deposit/merchant_card</code>
</div>

<p class="lead">取得租卡入款商號</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-7 input-group">
                <span class="input-group-addon">/api/user/</span>
                <input data-request-param="userId" type="text" class="form-control" placeholder="{userId}">
                <span class="input-group-addon">/card/deposit/merchant_card</span>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{userId}</p>
        </div>
        <div>
            <div class="form-group">
                <label class="control-label col-md-3">payment_vendor_id</label>
                <div class="col-md-5">
                    <input name="payment_vendor_id" type="text" class="form-control">
                </div>
                <span class="help-block col-md-4">付款廠商id</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_get_deposit_merchant_card" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
