{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Check Cash Total Amount</h1>
    <code>GET /api/check/cash/total_amount</code>
</div>

<p class="lead">檢查現金明細總金額</p>
<p>回傳會依明細的<code>cash_id</code>做group by，如有相同<code>ref_id</code>但不同<code>cash_id</code>則會分開顯示成兩筆以上。並一併回傳<code>cash_id</code>及<code>user_id</code></p>
<div class="alert alert-warning">
    <code>ref_id</code>最多只能帶150個
</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="template">
                <label class="control-label col-md-3">ref_id[]</label>
                <div class="col-md-5">
                    <input name="ref_id[]" type="text" class="form-control">
                </div>
                <span class="help-block col-md-4">查詢參考編號。用陣列輸入多個</span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="template">
                <label class="control-label col-md-3">opcode[]</label>
                <div class="col-md-5">
                    <input name="opcode[]" type="text" class="form-control">
                </div>
                <span class="help-block col-md-4">查詢Opcode。用陣列輸入多個</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">start</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="start" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">搜尋開始時間。ISO-8601格式</span>
            <label class="control-label col-md-3">end</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="end" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">搜尋結束時間。ISO-8601格式</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_check_cash_total_amount" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
