{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Create Session</h1>
    <code>POST /api/user/{userId}/session</code>
</div>
<p class="lead">建立使用者 Session 資料</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/user/</span>
                    <input data-request-param="userId" type="text" placeholder="{userId}" class="form-control">
                    <span class="input-group-addon">/session</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入使用者編號{userId}</p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <button data-request-routing="api_session_create" data-request-type="POST" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
