{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get PaymentGateway List By Currency</h1>
    <code>GET /api/currency/{currency}/payment_gateway</code>
</div>

<p class="lead">依照幣別回傳可用的支付平台</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-7">
                <div class="input-group">
                    <span class="input-group-addon">/api/currency/</span>
                    <input data-request-param="currency" type="text" class="form-control" placeholder="{currency}">
                    <span class="input-group-addon">/payment_gateway</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{currency}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">hot</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="hot" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否常用，0:非常用 1:常用</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">deposit</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="deposit" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否支援入款</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">withdraw</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="withdraw" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否支援出款</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">mobile</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="mobile" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否支援電子錢包</span>
        </div>
        <div class="form-group">
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="template">
                <label class="control-label col-md-3">sort[]</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="action-enable" type="checkbox">
                        </span>
                        <input name="sort[]" type="text" class="form-control" value="id" disabled>
                    </div>
                </div>
                <span class="help-block col-md-4">排序欄位</span>
                <label class="control-label col-md-3">order[]</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="action-enable" type="checkbox">
                        </span>
                        <input name="order[]" type="text" class="form-control" value="asc" disabled>
                    </div>
                </div>
                <span class="help-block col-md-4">升冪或降冪。可設定asc或desc</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_get_payment_gateway_by_currency" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
