{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Set RandomFloatVendor By PaymentGateway</h1>
    <code>PUT /api/payment_gateway/{paymentGatewayId}/random_float_vendor</code>
</div>

<p class="lead">設定支付平台支援隨機小數的付款廠商</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-addon">/api/payment_gateway/</span>
                    <input data-request-param="paymentGatewayId" type="text" class="form-control" placeholder="{paymentGatewayId}">
                    <span class="input-group-addon">/random_float_vendor</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{paymentGatewayId}</p>
        </div>
        <div class="form-group">
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="template">
                <label class="control-label col-md-3">payment_vendor[]</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="action-enable" type="checkbox">
                        </span>
                        <input name="payment_vendor[]" type="text" class="form-control" disabled>
                    </div>
                </div>
                <span class="help-block col-md-4">付款廠商ID</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_payment_gateway_set_random_float_vendor" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
