{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Set Geoip Region</h1>
    <code>PUT /api/geoip/region/{regionId}</code>
</div>

<p class="lead">設定Geoip區域翻譯</p>
<p>帶入需要修改的參數，沒有帶入的參數不修改</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/geoip/region/</span>
                    <input data-request-param="regionId" type="text" class="form-control" placeholder="{regionId}">
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{regionId}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">en_name</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="en_name" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">英文名稱</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">zh_tw_name</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="zh_tw_name" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">繁體中文名稱</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">zh_cn_name</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="zh_cn_name" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">簡體中文名稱</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_geoip_region_set" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
