{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Domain Count Member Created</h1>
    <code>GET /api/domain/{domain}/count_member_created</code>
</div>

<p class="lead">回傳廳時間區間內會員的建立數量，輸出為美東日期</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">/api/domain/</span>
                    <input data-request-param="domain" type="text" class="form-control" placeholder="{domain}">
                    <span class="input-group-addon">/count_member_created</span>
                </div>
            </div>
            <p class="help-block col-md-offset-2 col-md-10">輸入網址變數{domain}</p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">start</label>
            <div class="col-md-5">
                <input name="start" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}">
            </div>
            <span class="help-block col-md-4">搜尋開始時間，美東時間。ISO-8601格式</span>
            <label class="control-label col-md-3">end</label>
            <div class="col-md-5">
                <input name="end" type="text" class="form-control" value="{{ "now"|date("Y-m-d\\TH:i:sO") }}">
            </div>
            <span class="help-block col-md-4">搜尋結束時間，美東時間。ISO-8601格式</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_domain_count_member_created" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}