{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Get Domain Status</h1>
    <code>GET /api/domain/url/status</code>
</div>

<p class="lead">取得網址狀態</p>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button data-request-routing="api_domain_get_url_status" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
        </div>
    </div>
</form>
{% endblock %}

