{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Create Binding</h1>
    <code>POST /api/slide/binding</code>
</div>

<div class="row">
    <div class="col-md-7">
        <p class="lead">帳號綁定手勢登入裝置</p>
        <p></p>
    </div>
</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-3">app_id</label>
            <div class="col-md-5">
                <input name="app_id" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">裝置識別ID</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">slide_password</label>
            <div class="col-md-5">
                <input name="slide_password" type="password" class="form-control">
            </div>
            <span class="help-block col-md-4">手勢密碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">binding_token</label>
            <div class="col-md-5">
                <input name="binding_token" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">綁定標記</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">device_name</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="device_name" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">裝置名稱</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">os</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="os" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">作業系統</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">brand</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="brand" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">廠牌</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">model</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="model" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">型號</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_create_binding" data-request-type="POST" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
