{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Slide Login</h1>
    <code>PUT /api/slide/login</code>
</div>

<div class="row">
    <div class="col-md-7">
        <p class="lead">手勢密碼登入</p>
        <p>登入結果編號如右表，若登入時帳號存在，則會回傳登入帳號物件。</p>
        <p>若username有代入廳的代碼(ex:hikaru@eb)，則domain可不代</p>
        <p>登入語系、客戶端作業系統、客戶端瀏覽器和登入來源的對應代碼如下。</p>
    </div>
    {% include 'BBDurianBundle:Default/Doc:login_result.html.twig' %}
</div>

<div class="row">
    {% include 'BBDurianBundle:Default/Doc:language_map.html.twig' %}
    {% include 'BBDurianBundle:Default/Doc:client_os_map.html.twig' %}
    {% include 'BBDurianBundle:Default/Doc:client_browser_map.html.twig' %}
    {% include 'BBDurianBundle:Default/Doc:ingress_map.html.twig' %}
</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-3">username</label>
            <div class="col-md-5">
                <input name="username" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">登入帳號</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">app_id</label>
            <div class="col-md-5">
                <input name="app_id" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">裝置識別ID</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">slide_password</label>
            <div class="col-md-5">
                <input name="slide_password" type="password" class="form-control">
            </div>
            <span class="help-block col-md-4">手勢密碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">access_token</label>
            <div class="col-md-5">
                <input name="access_token" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">存取標記</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">ip</label>
            <div class="col-md-5">
                <input name="ip" type="text" class="form-control" value="127.0.0.1">
            </div>
            <span class="help-block col-md-4">登入IP</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">domain</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="domain" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">登入廳主ID</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">entrance</label>
            <div class="col-md-5">
                <input name="entrance" type="text" class="form-control">
            </div>
            <span class="help-block col-md-4">控(1) / 管(2) / 客(3) 端</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">ipv6</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="ipv6" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">IPv6</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">language</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="language" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">登入語系，請填入代碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">host</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="host" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">登入站的網址</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">client_os</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="client_os" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">客戶端作業系統，請填入代碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">client_browser</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="client_browser" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">客戶端瀏覽器，請填入代碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">ingress</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="ingress" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">登入來源(公司入口)，請填入代碼</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">device_name</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="device_name" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">裝置名稱</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">brand</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="brand" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">廠牌</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">model</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="model" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">型號</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">user_agent</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="user_agent" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">user_agent</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">duplicate_login</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="duplicate_login" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">允許重複登入，預設不允許</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">x_forwarded_for</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="x_forwarded_for" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">X-FORWARDED-FOR</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">verify_blacklist</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="verify_blacklist" type="text" class="form-control" value="1" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否檢查黑名單。設1檢查，設0不檢查。預設為1</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">last_login_interval</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="last_login_interval" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否阻擋使用者幾秒內重複登入，請填秒數大於0的整數。預設為不阻擋</span>
        </div>
        <div class="form-group">
            <button class="btn btn-default action-more" type="button">複製參數</button>
            <div class="template">
                <label class="control-label col-md-3">verify_parent_id[]</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input class="action-enable" type="checkbox">
                        </span>
                        <input name="verify_parent_id[]" type="text" class="form-control" disabled>
                    </div>
                </div>
                <span class="help-block col-md-4">檢查是否為同體系，請填parent_id。預設為不檢查</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">verify_level</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="verify_level" type="text" class="form-control" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否檢查層級。預設為不檢查</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_slide_login" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
