{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Update ShareLimit</h1>
    <code>PUT /api/tools/update_share_limit</code>
</div>

<p class="lead">觸發更新佔成</p>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_update_share_limit" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
