{% extends 'BBDurianBundle:Default/Demo:index.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Update Cash Total Balance</h1>
    <code>PUT /api/cash/total_balance</code>
</div>

<p class="lead">更新會員總餘額記錄</p>
<div class="alert alert-info">五分鐘內不得重複更新</div>

<form class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-md-3">parent_id</label>
            <div class="col-md-5">
                <input name="parent_id" type="text" class="form-control" value="1">
            </div>
            <span class="help-block col-md-4">上層id</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">include_test</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="include_test" type="text" class="form-control" value="0" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否計算測試體系</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">force</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="force" type="text" class="form-control" value="1" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">是否強制更新</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">currency</label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input class="action-enable" type="checkbox">
                    </span>
                    <input name="currency" type="text" class="form-control" value="CNY" disabled>
                </div>
            </div>
            <span class="help-block col-md-4">幣別</span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-request-routing="api_cash_update_total_balance" data-request-type="PUT" class="btn btn-primary" type="button" data-loading-text="loading...">Request</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
